.searchMainPage {
    background-color: black;
}

.searchBar {
    width: 100%;
    text-align: center;
}

.searchInput {
    margin: 6rem auto 3rem;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-color: transparent;
    border: 1px solid aqua;
    outline: none;
    color: azure;
}

.searchInput:focus {
    width: 50%;
}

/* search bar  */



.searchMovieMainDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: visible;
    flex-direction: row;
    flex-wrap: wrap;
}

.searchMovieResult {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 250px;
    margin-bottom: 20px;
}

.searchMovieResult h4 {
    color: aqua;
}

.searchMovieImage {
    max-height: 280px;
    border-radius: 20px;
    border: 1px solid aqua;
    transition: 0.5s ease-in;
}

.searchMovieImage:hover {
    transform: scale(1.08);
    opacity: 0.5;
}

.searchAddInFav {
    font-size: 16px;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(255, 0, 0, 0.438);
    height: 50px;
    width: 50px;
    outline: none;
    border: none;
    transform: translateY(-260px);
    cursor: pointer;
}
 